@import "tailwindcss";


.font-ph {
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  opacity: 0;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.brutal-shadow {
  box-shadow: 6px 6px 0px 0px #000000;
  transition: all 0.2s ease;
}

.brutal-shadow:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px 0px #000000;
}

.brutal-shadow:active {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0px 0px #000000;
}

.brutal-shadow-sm {
  box-shadow: 3px 3px 0px 0px #000000;
  transition: all 0.2s ease;
}

.brutal-shadow-sm:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px 0px #000000;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #34A853;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Custom Selection Color */
::selection {
  background-color: #34A853;
  color: white;
}
